body {
	background-color: #0dc6c6;
}

h1 {
	color: brown;
}

h2 {
	color: burlywood;
}

a {
	color: chartreuse;
}

img {
	margin-left: 50px;
}

.big_size {
	width: 1000px;
}

.small_size {
	width: 800px;
}

h3 {
	font-family: 'Teddy Bear';
	font-size: 2rem;
}

@font-face {
	font-family: 'Teddy Bear';
	src: url('fonts/teddy_bear.eot');
	/* IE 9 Compatibility Mode */
	src: url('fonts/teddy_bear.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('fonts/teddy_bear.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('fonts/teddy_bear.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('fonts/teddy_bear.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('fonts/teddy_bear.svg#teddy_bear') format('svg');
	/* Chrome < 4, Legacy iOS */
}

ul {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	list-style-type: square;
}

.content {
	max-width: 700px;
	margin: auto;
}

